@page "/vocabularies"
@using ELS.UseCase.Utils;
@using System.ComponentModel.DataAnnotations;
@inject NavigationManager NavigationManager;

@inject IMediator Mediator

<PageTitle>List of Vocabularies</PageTitle>

<div class="row">
    <div class="col-sm">
        <h2>List of Vocabularies (@(vocabularies != null ? vocabularies.Count : 0))</h2>
    </div>
    <div class="col-sm d-flex justify-content-end">
        <div class="btn-container">
            <button type="button" class="btn btn-success" @onclick="AddVocabulary">Add Vocabulary</button>
            <button type="button" class="btn btn-primary" @onclick="LearnVocabulary">Learn</button>
        </div>
    </div>
</div>
<br />
@if (vocabularies != null)
{
    <table class="table">
        <thead>
            <tr>
                <th width="300">Term</th>
                <th width="300">Definition</th>
                <th>Phonetics</th>
                <th>Classification</th>
                <th>Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vocabularies)
            {
                <tr id="@item.Id">
                    <td width="300">@item.Term</td>
                    <td width="300">@item.Definition</td>
                    <td>@item.Phonetics</td>
                    <td>@(item.Classification.GetAttribute<DisplayAttribute>().Name)</td>
                    <td>@item.Level</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" @onclick="@(() => EditVocabulary(item.Id))">Edit</button>
                        <button type="button" class="btn btn-sm btn-danger" @onclick="@(() => DeleteVocabulary(item.Id))">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<ToastComponent Show="showSuccessToast"
                Title="Vocabulary"
                Message="Delete vocabulary successfully."
                ToastDisplayToggled="@(() => showSuccessToast = false)">
</ToastComponent>

@code {
    private List<Vocabulary> vocabularies = null;
    private bool showSuccessToast = false;

    protected override async Task OnInitializedAsync()
    {
        await Search();
    }

    private async Task Search()
    {
        vocabularies = await Mediator.Send(new Queries.Vocabularies.SearchVocabularies.SearchVocabulariesQuery());
    }

    private void AddVocabulary()
    {
        NavigationManager.NavigateTo("/addvocabulary");
    }

    private void LearnVocabulary()
    {
        NavigationManager.NavigateTo("/learn");
    }

    private void EditVocabulary(long vocId)
    {
        NavigationManager.NavigateTo($"/editvocabulary/{vocId}");
    }

    private async Task DeleteVocabulary(long vocId)
    {
        await Mediator.Send(new Commands.Vocabularies.DeleteVocabulary.DeleteVocabularyCommand(vocId, "System"));
        showSuccessToast = true;
        await Search();
    }
}
